body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    gap: 10px;
    margin: 0;
    padding: 10px;
}

header, nav, footer {
    background: #cce5ff;
    padding: 15px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.articulos {
    display: flex;
    flex: 3;
    gap: 10px;
}

article {
    border: 1px solid #555;
    padding: 15px;
    flex: 1;
    background: #f9f9f9;
}

aside {
    flex: 1;
    background: #e0e0e0;
    padding: 15px;
}